@mixin submit_button_black {
  color: $color_nuance_white1;
  background: rgb(98, 94, 90);
  background: linear-gradient(
    180deg,
    rgba(98, 94, 90, 1) 0%,
    rgba(38, 32, 34, 1) 50%,
    rgba(98, 94, 90, 1) 100%
  );
  cursor: pointer;
  &:hover {
    transition: all 0.3s;
    background: rgb(38, 32, 34);
    background: linear-gradient(
      180deg,
      rgba(38, 32, 34, 1) 0%,
      rgba(98, 94, 90, 1) 50%,
      rgba(38, 32, 34, 1) 100%
    );
  }
}

@mixin wait_to_charge {
  font-size: 15px;
  font-weight: bold;
  color: $color_pal_navy;
  margin: 20px;
}

@mixin button_style_1 {
  border: none;
  font-style: italic;
  color: $color_nuance_white1;
  background: rgb(17, 17, 17);
  background: linear-gradient(
    180deg,
    rgba(17, 17, 17, 1) 0%,
    rgba(26, 68, 59, 1) 10%,
    rgba(60, 144, 128, 0.9) 30%,
    rgba(26, 68, 59, 1) 60%,
    rgba(17, 17, 17, 1) 100%
  );
  border-radius: 5px;
  cursor: pointer;
}

@mixin button_bubble_1 {
  box-shadow: 1px 1px 5px 1px $color_nuance_grey3;
  background: rgb(8, 184, 149);
  background: linear-gradient(
    180deg,
    rgba(8, 184, 149, 1) 0%,
    rgba(59, 191, 165, 1) 24%,
    rgba(116, 208, 190, 1) 61%,
    rgba(154, 208, 197, 1) 83%,
    rgba(179, 210, 204, 1) 100%
  );
}

@mixin button_submit_1 {
  border: none;
  font-style: italic;
  color: $color_nuance_white1;
  background: rgb(210, 176, 89);
  background: linear-gradient(
    180deg,
    rgba(210, 176, 89, 1) 0%,
    rgba(175, 148, 82, 1) 9%,
    rgba(17, 17, 17, 1) 100%
  );
  box-shadow: 1px 1px 5px 1px $color_nuance_grey5;
}

@mixin redirect_button {
  box-shadow: 1px 1px 5px 1px $color_auth_grey1;
  outline-color: $color_auth_red1;
  color: $color_auth_grey1;
  border-radius: 5px;
  border: none;
  background: rgb(68, 68, 68);
  background: linear-gradient(
    0deg,
    rgba(68, 68, 68, 1) 0%,
    rgba(109, 199, 166, 1) 25%,
    rgba(162, 215, 185, 1) 50%,
    rgba(107, 198, 165, 1) 75%,
    rgba(68, 68, 68, 1) 100%
  );
  cursor: pointer;
}
