//palette sign image
$color_pal_base: #08b895;
$color_pal_red: #f04358;
$color_pal_yellow: #eacc1e;
$color_pal_navy: #07364c;
$color_nuance_white1: #f7eaea; //blanc_gris
$color_nuance_pink1: #db6a8f;
$color_nuance_pink2: #f5e1ef;

//nuance de gris
$color_nuance_grey1: #111111;
$color_nuance_grey2: #222222;
$color_nuance_grey3: #444444;
$color_nuance_grey4: #777777;
$color_nuance_grey5: #808080;

$color_font_grey: #4c4c4a;

//palette de couleur
$color_auth_green1: #47bb98;
$color_auth_green2: #a2d7b9;
$color_auth_green3: #c8e7d7;
$color_auth_red1: #ac3136;
$color_auth_brown: #cb7135;
$color_auth_yellow: #eacc1e;
$color_auth_grey1: #262022;
$color_auth_grey2: #272928;
$color_auth_grey3: #333333;
$color_auth_grey4: #473e37;
